__pycache__/
*.py[cod]
*$py.class
venv/
.env

.conda/
env/

gaussian-splatting/submodules/*/build/
gaussian-splatting/submodules/*/*.egg-info/
gaussian-splatting/output/

*.pth
*.bin
*.safetensors
zero123plus/checkpoints/

.DS_Store
output_model/